<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table style="width:50%" style="height:50%" id="lunchTable">
      <thead>
        <th>Jméno</th><th>Třída</th><th>Oběd</th><th>Stav</th>
      </thead>
      <tr>
        <th id="jmeno"></th><th id="trida"></th><th id="obed"></th><th id="stav"></th>
      </tr>
    </table>

    <table id="pocet_obedu">
      <tr>
        <th>Jedničky:</th><th id="pocet_jednicek"></th>
      </tr>

      <tr>
        <th>Dvojky:</th><th id="pocet_dvojek"></th>
      </tr>
    </table>

  </body>
  <script type="text/javascript">

  async function update_data(){
    const response = await fetch("/get_data");    //sends request with /get_data url
    const data = await response.json();           //saves responce into data

    console.log(data)

    var stravnici = data[0]
    var obedy = data[1]

    document.getElementById("pocet_jednicek").innerHTML = obedy.jednicky
    document.getElementById("pocet_dvojek").innerHTML = obedy.dvojky

    var rows = (document.getElementById("lunchTable").getElementsByTagName("tr").length) - 1; //counts lenght of existing table - 1(head)
    for (var i = 0; i < rows; i++) {
      document.getElementById("lunchTable").deleteRow(1); //deletes all rows below thead
        }

    for (var i = 0; i <stravnici.length; i++) {
      var table = document.getElementById("lunchTable");
      var row = table.insertRow(i+1);
      var cells = new Array(stravnici[i].length);

      for(var j = 0; j < stravnici[i].length; j++)  {
        cells[j] = row.insertCell(j);
        cells[j].innerHTML = stravnici[i][j];
        }
      }
    };

    update_data();
	  setInterval(function () {update_data();}, 800);

  </script>
</html>
